mat-expansion-panel{
  margin: 10px;
  background-color: rgb(90, 115, 129);
}

.recette-title-card{
  margin: 10px;
  background-color: rgb(90, 115, 129);
  height: 25%;
}

mat-toolbar{
  background: rgb(87, 96, 104);
}

.toolbarNav{
  position: fixed;
  height: 20px;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  box-shadow: 2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
