mat-expansion-panel{
  margin: 10px;
  background-color: rgb(90, 115, 129);
}

.recette-title-card{
  margin: 10px;
  background-color: #00334A;
  height: 25%;
}

.recete-panel-1{
  background-color: #007FA9;
}

.recete-panel-2{
  background-color: #007FA9;
}

.recete-panel-3{
  background-color:#007FA9;
}

mat-toolbar{
  background: #82CFD8
}

.toolbarNav{
  position: fixed;
  height: 20px;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  box-shadow: 2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  color: black;
}

.recette-content-text{
  font-size: 20px;
}
