mat-expansion-panel{
  margin: 10px;
  background-color: rgb(90, 115, 129);
}

.recette-title-card{
  margin: 10px;
  background-color: #4e4189;
  height: 25%;
}

.recete-panel-1{
  background-color: #fbf4e2;
}

.recete-panel-2{
  background-color: #b0cbde;
}

.recete-panel-3{
  background-color:#9d84c5;
}

mat-toolbar{
  background: #738f07
}

.toolbarNav{
  position: fixed;
  height: 60px;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  box-shadow: 2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  color: black;
}

.recette-content-text{
  font-size: 16px;
  color: black;
}
