.search-toolbar{
  min-height: 70px;
  padding: 25px;
  background-color: #9985b6;
}

.recette-card{
  margin: 10px;
  background-color: #7f9b8d;
  padding: 5px;
  color: #ffffff;
}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 3px;
}

.card-content{
  margin-top: 6px;
  margin-bottom: 1px;
}

.divider{
  border-color: #4b3a5e;
  border-width: 4px;
}

.parent-grille {
  display: grid;
}

.label_1 {
  grid-column: 1;
  grid-row: 1;
}
.content_1 {
  grid-column: 1;
  grid-row: 2;
}
.label_2 {
  grid-column: 2;
  grid-row: 1;
}
.content_2 {
  grid-column: 2;
  grid-row: 2;
}
.label_3 {
  grid-column: 3;
  grid-row: 1;
}
.content_3 {
  grid-column: 3;
  grid-row: 2;
}

.label_4 {
  grid-column: 4;
  grid-row: 1;
}

.content_4 {
  grid-column: 4;
  grid-row: 2;
}
