
  <!-- 1 - Toolbar principale -->
  <mat-toolbar class="search-toolbar">
    <mat-form-field style="width: 20rem" floatLabel="never">
      <input matInput
             #searchInput="matInput"
             type="text"
             placeholder="Recherche"
             autocomplete="off" [(ngModel)]="searchedText" (keyup)="onSearchChange()"/>
      <mat-icon [color]="searchInput.focused ? 'primary' : ''" matSuffix >search</mat-icon>
    </mat-form-field>
</mat-toolbar>

  <!-- 2 - Liste des recettes -->
  <mat-card *ngFor="let item of listeRecetteFile" class="recette-card" flex>
    <!-- 1 - Title -->
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content class="card-content">
      <div class="parent-grille">
        <div class="label_1">Catégorie</div>
        <div class="content_1">{{ item.categorie }}</div>
        <div class="label_2">Durée</div>
        <div class="content_2">{{ item.duree }}</div>
        <div class="label_3">Indice nutritionel</div>
        <div class="content_3">{{ item.indiceNutritionel }}</div>
        <div class="label_4">Difficulte</div>
        <div class="content_4">{{ item.difficulte }}</div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="['/recette', item.id]"> <!-- (click)="openRecette($event) -->
        <mat-icon>open_in_new</mat-icon> Ouvrir</button>
     </mat-card-actions>
  </mat-card>

